* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(24, 28, 31);
  color: whitesmoke;
  /* min-height: 100vh; */
}

.canvas {
  background-color: rgb(24, 28, 31);
  display: none;
  cursor: crosshair;
}

h1 {
  font-family: "Blaka", cursive;
  font-size: 14rem;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

.startButton {
  background-color: #8f71ff;
  color: rgb(24, 28, 31);
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 2.5rem auto 0 auto;
  transition: 0.2s ease-in-out 0s;
}

.startButton:hover {
  background-color: #8f71ff;
  color: rgb(24, 28, 31);
  transform: scale(1.25);
}

.inputBox {
  color: black;
  font-size: 1rem;
  width: 150px;
  display: block;
  margin: 0.6rem auto 0 auto;
  padding: 0.6rem;
  border-radius: 1.9rem;
  border: 0.1rem solid black;
  box-shadow: none;
}

.submit-button {
  padding: 0.6rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #8f71ff;
  color: rgb(24, 28, 31);
  margin-top: 1rem;
  border: 0.2rem solid white;
  border-radius: 1rem;
  transition: 0.2s ease-in-out 0s;
}

.submit-button:hover {
  background-color: #8f71ff;
  color: rgb(24, 28, 31);
  transform: scale(1.25);
}

.scoreContainer {
  position: absolute;
  top: 0;
  display: none;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

.countDown-timer {
  position: fixed;
  right: 1rem;
  top: 0;
  border-radius: 0.6rem;
  border-width: 0.2rem;
  margin-right: 1rem;
  margin-top: 0.6rem;
  font-size: 2.2rem;
  width: 3.5rem;
  text-align: center;
  display: none;
}

.end-game-div {
  height: 280px;
  width: 500px;
  position: absolute;
  border-radius: 0.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.end-game-div p {
  font-size: 18px;
}

.end-game-button {
  background-color: #8f71ff;
  color: rgb(24, 28, 31);
  border: 0.2rem solid white;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s ease-in-out 0s;
  margin-top: 1.2rem;
}

.end-game-button:hover {
  background-color: #8f71ff;
  color: rgb(24, 28, 31);
  transform: scale(1.25);
}

.top5-container {
  text-align: center;
  font-size: 30px;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.footer-container img {
  height: 20px;
  background-color: white;
  border-radius: 20px;
}