* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffb8ce;
  color: black;
  font-size: 20px;
}

#canvas {
  background-color: rgb(24, 28, 31);
  display: none;
  cursor: crosshair;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.startButton {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 40px auto 0 auto;
  flex-wrap: wrap;
}

.startButton:hover {
  background-color: white;
  color: black;
}

.inputBox {
  color: black;
  font-size: 16px;
  width: 150px;
  display: block;
  margin: 40px auto 0 auto;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: none;
}

.startButton {
  background-color: white;
  border-radius: 12px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 15px;
  margin: 40px auto 0 auto;
  transition: 0.2s ease-in-out 0s;
}

.startButton:hover {
  background-color: white;
  color: black;
  transform: scale(1.25);
}

.scoreContainer {
  position: absolute;
  top: 0;
  display: none;
  color: red;
}

.countDown-timer {
  position: fixed;
  right: 1rem;
  top: 0;
  border: 1px solid #f542c2;
  background-color: orchid;
  border-radius: 10px;
  border-width: 2px;
  padding: 2px 4px;
  font-size: 25px;
  width: 3.5rem;
  text-align: center;
  display: none;
}

.end-game-div{
height: 265px;
width: 500px;
position: absolute;
background-color:red ;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
display: none;
}

.end-game-div-styling{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: grey;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.end-game-button{
  background-color: white;
  border-radius: 12px;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 40px;
  width: 100px;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
